h1 {
    text-align: center;
    font-style: italic;
}

div#poems {
    text-align: center;
}

span.sources {
    font-size: 12px;
}

table {
    padding: 12px;
    border-spacing: 18px;
    border-collapse: separate;
}

table p {
    font-style: italic;
    font-size: 20px;
}

td.poem {
    padding-left: 20px;
}

img {
    width: 632px;
    height: 632px;
}

div#about-me {
    text-align: center;
    font-size: 14px
}

div#about-me p {
    font-size: 14px
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
